/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/entry/patch.json
.DS_Store
library/.DS_Store
library/src/main/.DS_Store
library/src/main/ets/.DS_Store
library/src/main/resources/base/media/.DS_Store
